<!DOCTYPE html>
<html>
<head>
  <title>Registrar Entrada</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Registrar Entrada</h1>

  <form action="/operario/entrada" method="POST">
    <input type="text" name="placa" placeholder="Placa" required>

    <select name="tipo_vehiculo_id" required>
      <option value="1">Sedán</option>
      <option value="2">Camioneta</option>
      <option value="3">Moto</option>
    </select>

    <button type="submit" class="btn">Registrar</button>
  </form>

  <a href="/auth/logout" class="btn btn-danger">Cerrar sesión</a>
  <script src="/js/whatsapp.js"></script>
</body>
</html>